* {
  margin: 0;
  padding: 0;
}

main {
  margin: 160px 0 0 0;
  padding: 0 5%;
  font-family: "Poppins", sans-serif;
}

.billing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.billing-header-account-detail {
  display: flex;
  align-items: center;
  gap: 12px;
}

.billing-account-detail-profile-pic > img {
  width: 75px;
  border-radius: 99px;
  border: solid 2px #000000;
}

.billing-account-detail-acc-info {
  display: flex;
  flex-direction: column;
}

.billing-account-detail-acc-info > h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.billing-account-detail-acc-info > p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.billing-header-select-item > form {
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.input-container > input[type="text"] {
  outline: none;
}

.input-container > input[type="submit"] {
  outline: none;
  border: none;
  padding: 2px 8px;
  background-color: #ffc700;
  color: #fff;
  border-radius: 4px;
}

.billing-body {
  margin: 48px 0;
  min-width: 900px;
}

.billing-footer {
  margin: 32px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.cash-and-print-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.cash-and-print-section-child {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cash-and-print-section-child > p {
  padding: 0;
  margin: 0;
}

.cash-and-print-section-child > button {
  border: none;
  outline: none;
  padding: 4px 16px;
  background-color: #ffc700;
  color: #fff;
  border-radius: 4px;
}

.total-balance-discount-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.total-balance-discount-section-child {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.total-balance-discount-section-child > input {
  outline: none;
}

.total-balance-discount-section-child > p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1080px) {
  .billing-header {
    flex-direction: column;
  }

  .billing-header-account-detail {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .billing-header-select-item > form {
    flex-direction: column;
    align-items: center;
  }

  .billing-footer {
    flex-direction: column;
  }

  .cash-and-print-section {
    flex-direction: row;
  }
}


@media screen and (max-width: 350px) {


  .cash-and-print-section {
    flex-direction: column;
  }
}
