* {
  margin: 0;
  padding: 0;
}

main {
  margin: 160px 0 0 0;
}

.tag-selection-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.tag-selection-container > p {
  font-size: 24px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.all {
  border-radius: 8px 0 0 8px;
}
.ampara {
  border-radius: 0 8px 8px 0;
}

.inventory-product-detail-common-container {
  width: 100%;
}

.inventory-product-detail-common-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.summary-product {
  margin: 28px 0 0 0;
  font-family: "BakBak one", sans-serif;
  border-radius: 8px;
  background-color: #008080;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  gap: 28px;
  padding: 20px 16px 10px 16px;
  align-items: center;
  width: 90%;
}

.summary-product-child {
  display: flex;
  align-items: center;
  gap: 16px;
}

.summary-product-child-item {
  font-size: 24px;
}

.summary-product-child-quantity {
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .summary-product {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .tag-selection-container > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .tag-selection-container {
    width: 95%;
  }

  .tag-selection-container > p {
    padding: 6px;
  }
}

@media screen and (max-width: 460px) {
  .summary-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .summary-product-child-item {
    font-size: 16px;
  }

  .summary-product-child-quantity {
    font-size: 16px;
  }
}

@media screen and (max-width: 370px) {
  .tag-selection-container {
    width: 98%;
  }

  .tag-selection-container > p {
    font-size: 16px;
  }

  .summary-product {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .summary-product-child-item {
    font-size: 18px;
  }

  .summary-product-child-quantity {
    font-size: 18px;
  }
}
