* {
  margin: 0;
  padding: 0;
}

main {
  margin: 160px 0 0 0;
}

.tag-selection-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.tag-selection-container > p {
  font-size: 24px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.all {
  border-radius: 8px 0 0 8px;
}

.ampara {
  border-radius: 0 8px 8px 0;
}

.tag-selection-container > p {
  font-size: 20px;
}

.drop-down-menu-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.drop-down-menu-container > select {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 2px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.sub-tag-selection-common-container {
  display: flex;
  justify-content: space-between;
  width: 79%;
  margin: 1rem auto;
}

.sub-tag-selection-common-container > p {
  width: 100%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 8px 4px;
  font-weight: 500;
}

.all-report-in-common-section {
  border-radius: 6px 0 0 6px;
}

.rings-report-in-common-section {
  border-radius: 0 6px 6px 0;
}

.report-details {
  margin: 4rem 0 0 0;
  gap: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.barchart-in-common-container {
  min-width: 900px;
  width: 90%;
}

.text-report {
  margin: 48px 0 0 0;
  padding: 0 10%;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.report-common-table-container {
  margin: 32px 0;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  min-width: 900px;
}

.report-common-table-header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-evenly;
}

.input-container > input {
  padding: 2px 4px;
  text-transform: uppercase;
  outline: none;
  border-radius: 6px;
}

.input-container > select {
  padding: 4px 8px;
  outline: none;
  border-radius: 6px;
}

.search-icon-container > img {
  width: 30px;
}

.report-commontable-footer-sub-contain{
  float: right;
}

.footer-detail-container-child{
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.footer-button-container{
  display: flex;
  justify-content: space-between;
}

.footer-button-container> button {
  border: none;
  outline: none;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #ffd700;
}

@media screen and (max-width: 650px) {
  .tag-selection-container > p {
    font-size: 20px;
  }

  .sub-tag-selection-common-container > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  .detail-container--heading > h1 {
    font-size: 20px;
    font-weight: 500;
  }

  .detail-container-supplier {
    gap: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 500px) {
  .tag-selection-container {
    width: 95%;
  }

  .tag-selection-container > p {
    padding: 6px;
  }

  .sub-tag-selection-common-container {
    width: 94%;
  }

  .sub-tag-selection-common-container > p {
    padding: 4px 2px;
    font-size: 15px;
  }

  .barchart-in-common-container {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .tag-selection-container {
    width: 98%;
  }

  .tag-selection-container > p {
    font-size: 16px;
  }

  .sub-tag-selection-common-container {
    width: 100%;
  }

  .sub-tag-selection-common-container > p {
    font-size: 14px;
    font-weight: normal;
  }

  .detail-container--heading > h1 {
    font-size: 16px;
    font-weight: 500;
  }

  .detail-container-supplier {
    font-size: 14px;
  }

  .detail-container-tag > p {
    font-size: 14px;
  }
}
