* {
  margin: 0;
  padding: 0;
}

main {
  margin: 160px 0 0 0;
  padding: 0 5%;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.form-input {
  width: 100%;
  max-width: 500px;
  display: flex;
  gap: 8px;
  background-color: #b8ecff;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 8px;
}

.form-input-address {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.address-lane-input {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #fff;
  max-width: 500px;
}

.address-lane-input > input {
  border-radius: 4px;
  padding: 2px 8px;
}

.form-input > img {
  width: 25px;
}

.form-input > input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #b8ecff;
  font-weight: 600;
}

.form-input > input[type="date"] {
  text-transform: uppercase;
}

.form-input > select {
  background-color: #b8ecff;
  border: none;
  outline: none;
  width: 100%;
}

.form-input-type-file {
  position: relative;
  background-color: #fff;
  padding: 24px 0;
}

.form-input-type-file > input {
  display: none;
}

.form-input-type-file > label {
  background-color: #b8ecff;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.form-input-type-file > label > img {
  width: 40px;
}

.profile-picture-label {
  font-size: 24px;
  font-weight: 500;
}

.form-input-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-input-button {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 48px;
  border: none;
  border-radius: 10px;
  background-color: #008080;
  color: gold;
}

.pop-up-modal {
  margin: 160px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: solid 3px #000;
}

@media screen and (max-width: 1140px) {
  form {
    flex-direction: column;
  }
}
